<div class="main-screen">
    <div class="primary-btns">
        <button mat-icon-button (click)="record(!isRecording)">
            <span class="material-symbols-outlined">
                {{isRecording ? 'stop' : 'screen_record'}}
            </span>
        </button>
        @if (isRecording) {
        <button mat-icon-button (click)="togglePauseRecord()">
            <span class="material-symbols-outlined">
                {{isPaused ? 'play_arrow' : 'pause'}}
            </span>
        </button>
        }
    </div>
    @if (!isRecording) {
    <div class="secondary-btns">
        <button matIconButton color="warn" (click)="isAudio = !isAudio" [class.off]="!isAudio">
            <span class="material-symbols-outlined">
                {{isAudio ? 'mic' : 'mic_off'}}
            </span>
        </button>
        <button matIconButton>
            <span class="material-symbols-outlined">volume_up</span>
        </button>
        <button matIconButton>
            <span class="material-symbols-outlined">desktop_windows</span>
        </button>
        <button matIconButton>
            <span class="material-symbols-outlined">folder</span>
        </button>
        <button matIconButton>
            <span class="material-symbols-outlined">settings</span>
        </button>
    </div>
    }
</div>


<!-- 🎥 Video Preview -->
@if (videoUrl) {
<div style="margin-top: 20px;">
    <video [src]="videoUrl" controls autoplay style="width: 100%; max-width: 600px; border-radius: 8px;">
    </video>
</div>
}